name: Build
on: [push]
jobs:
  build:
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: "24"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Setup credentials for integration test
        run: |
          echo "$SERVICE_ACCOUNT_CREDENTIALS_JSON" >credentials.json
        env:
          SERVICE_ACCOUNT_CREDENTIALS_JSON: ${{ secrets.SERVICE_ACCOUNT_CREDENTIALS_JSON }}

      - run: pnpm install
      - run: pnpm lint
      - run: pnpm typecheck
      - run: pnpm test

      - name: Build container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          load: true
          tags: ghcr.io/blindern/smaabruket-availability-api:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - run: scripts/docker-test-image.sh ghcr.io/blindern/smaabruket-availability-api

      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push container
        if: github.ref == 'refs/heads/main'
        id: docker_build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          push: true
          tags: ghcr.io/blindern/smaabruket-availability-api:latest
          cache-from: type=gha

      - name: Deploy
        if: github.ref == 'refs/heads/main'
        run: |
          curl --fail -L -i -H "authorization: bearer $DEPLOYER_TOKEN" -H "content-type: application/json" -X POST https://deployer.foreningenbs.no/deploy -d '
          {
            "service": "smaabruket-availability-api",
            "attributes": {
              "image": "ghcr.io/blindern/smaabruket-availability-api@${{ steps.docker_build.outputs.digest }}"
            }
          }'
        env:
          DEPLOYER_TOKEN: ${{ secrets.DEPLOYER_TOKEN }}
